<footer style="color:white;background:#191919" class="w3-container w3-center w3-padding-large w3-theme-d1">
	 <p><strong>Follow Us</strong></p>
	 <a style="background:#A8182F" class="w3-btn-floating" href="https://www.facebook.com/chaprynz/" title="Facebook"><i class="fa fa-facebook"></i></a>
  
      <a style="background:#A8182F" class="w3-btn-floating" href="https://plus.google.com/u/1/118075415996247592824?hl=en" title="Google +"><i class="fa fa-google-plus"></i></a>
     <p style="color:#A8182F"><strong>Contact: chaprynz@chapry.com</strong></p>
  
 
</footer>